@model _23DH111065_TaTrungHieu_KtraFE_TH_.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <style>
        img {
            height: 400px;
            max-width: 400px;
        }
    </style>
</head>
<h2 class="bg-info">CHI TIẾT SẢN PHẨM</h2>
@Html.Partial("PVProductInfo", Model)
<div style="padding: 5px">
    @Html.ActionLink("Cập Nhật", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Quay Lại Danh Sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
</div>

